@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
    max-height: 100%;
     /*border: 1px solid red;*/
}

header{
    margin-top: 20px;
    color: #818184;
   /*border: 1px solid red;*/
}

h1{
    
    text-align: center;
    /*border: 1px solid red;*/
}

header p{
    margin: 0 auto;
    padding: 0;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 800px;
    font-size: 0.8em;
    /*border: 1px solid red;*/
}

.cards{
    margin: 0 auto;
    width: 800px;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
    /*border: 1px solid red;*/
}

h2{
    margin-top: 0;
    font-size: 1em;
}


section p{
    color: #818184;
    font-size: 0.5em;   
}

div{
    margin-left: 25px;
    margin-right: 25px;
    padding: 10px;
    width: 230px;
    height: 170px;    
    /*border: 1px solid red;*/
}

div p{
    margin-top: 10px;
    text-align: justify;
}

#by{
    color: black;
}

#team_builder{
    margin: 0 auto;
    margin-top: 20px;
    border-top: 2px solid red;
    box-shadow: 1px 5px 10px 3px rgb(211, 209, 209);
}

#calculator{
    display: flexbox;
    position: relative;
    float: right;
    margin-top: -70px;
    border-top: 2px solid rgb(0, 157, 255);
    box-shadow: 1px 5px 10px 3px rgb(211, 209, 209);
}

#supervisor{
    display:flexbox;
    position: relative;
    float: left;
    margin-top: -70px;
    border-top: 2px solid rgb(8, 184, 164);
    box-shadow: 1px 5px 10px 3px rgb(211, 209, 209);
}

#karma{
    margin: 0 auto;
    margin-top: 20px;
    border-top: 2px solid rgb(222, 219, 20);
    box-shadow: 1px 5px 10px 3px rgb(211, 211, 209);
}

.images{
    float: right;
    width: 38px;
    padding: 0;
}
